
.whatsapp{
    background-color: #25d366;   
    color: #fff;
    text-align: center;
    border-radius: 70px;    
    }
.textoCentralizado{
    margin: 0px auto;
}
.imagem{
    margin: 5px;
}

.marrom{
    color: brown;
}
